.funTv, .free, .kids, .offline {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 5rem auto;
}

.funTxt, .freeTxt, .kidsTxt, .offlineTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: center;
}

ul {
    list-style: none;
    width: 100%;
}

li {
    margin-bottom: 1rem;
}


.borderLine {
    background-color: rgb(35,35,35);
    opacity: 0.8;
    width: 100%;
    height: 0.5rem;
}

.faqTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

.faqList {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}

.plus {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
} 

.perfaq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    opacity: 0.8;
    padding: 1.5rem;
    cursor: pointer;
}

.perfaq:hover {
    background-color: #3c3c3c;
    opacity: 1;
}

.ansList {
    background-color: #3c3c3c;
    opacity: 0.8;
    border-top: 1px solid black;
    max-height: 0;
    overflow: hidden;
    padding : 0 1.5rem;
    transition: all 0.5s;
}

.ansList span {
    font-size: 1.3rem;
}

.perfaq span {
    font-size: 1.3rem;
}

.active {
    max-height: 200px;
    padding : 1rem;
}

@media screen and (max-width: 1400px) {
    .funTv {
        display: flex;
        flex-direction: column;
    }
    .funImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .free {
        display: flex;
        flex-direction: column;
    }
    .freeImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .kids {
        display: flex;
        flex-direction: column;
    }
    .kidsImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offline {
        display: flex;
        flex-direction: column;
    }
    .offlineImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .promotionTxt1 h1 {
        font-size: 2rem;
    }
    .funTxt h2{
        font-size: 2rem;
    }
    .funTxt p{
        margin-top: 0.5rem;
        font-size: 1rem
    }
    .freeTxt h2{
        font-size: 2rem;
    }
    .freeTxt p{
        margin-top: 0.5rem;
        font-size: 1rem
    }
    .kidsTxt h2{
        font-size: 2rem;
    }
    .kidsTxt p{
        margin-top: 0.5rem;
        font-size: 1rem
    }
    .offlineTxt h2{
        font-size: 2rem;
    }
    .offlineTxt p{
        margin-top: 0.5rem;
        font-size: 1rem
    }
}

@media screen and (max-width: 576px) {
    .promotionTxt1 h1 {
        font-size: 1.5rem;
    }
    .funTxt h2{
        font-size: 1rem;
    }
    .funTxt p{
        margin-top: 0.5rem;
        font-size: 0.5rem;
    }
    .freeTxt h2{
        font-size: 1rem;
    }
    .freeTxt p{
        margin-top: 0.5rem;
        font-size: 0.5rem;
    }
    .kidsTxt h2{
        font-size: 1rem;
    }
    .kidsTxt p{
        margin-top: 0.5rem;
        font-size: 0.5rem
    }
    .offlineTxt h2{
        font-size: 1rem;
    }
    .offlineTxt p{
        margin-top: 0.5rem;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .ansList span {
        font-size: 1rem;
    }
    
    .perfaq span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .ansList span {
        font-size: 0.5rem;
    }
    
    .perfaq span {
        font-size: 0.5rem;
    }
}