* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.header_container {
    display: flex;
    padding: 1rem;
}

.logoPart {
    margin: 0 1rem;
}

.mainPart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    flex: 1;
}

.resPart {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.header_container ul {
    list-style: none;
}

a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 1.5rem;
}

#logo {
    width: 10rem;
    fill: red;
}

#resBar {
    width: 1.5rem;
    display: none;
}

#search {
    width: 1.5rem;
}

.hidden {
    display: none;
}

.resMenuPart p {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}

@media screen and (max-width: 1400px) {
    .mainPart a {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        width: 8rem;
    }
    .mainPart a {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 650px) {
    #logo {
        width: 6rem;
    }
    #resBar {
        display: block;
    }
    .mainPart {
        display: flex;
        flex-direction: column;
    }
    .mainPart li {
        padding: 0.5rem;
    }
    .header_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resPart {
        padding: 1rem;
    }
}