body {
    overflow-x: hidden;
}

#hotTxt {
    color: white;
    margin-bottom: 1rem;
}

#hotTxt h2 {
    margin-left: 1rem;
}

.hotContetns {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hotContentsPoster {
    display: grid;
    grid-template-columns: repeat(10, minmax(auto, 1fr));
    gap: 1rem;
}

.hotContentsPoster img {
    width: 220px;
    height: 125px;
    object-fit: cover;
    margin-left: 1rem;
}

.hotContentsPoster img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}