body {
    position: relative;
}

P {
    color: white;
    margin: 1rem 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.search_modal {
    background-color: black;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 2;
    border-radius: 1rem;
}

.searchPart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.searchTitle h2 {
    color: white;
}

.searchResults h2 {
    color: white;
    margin-bottom: 1rem;
}

.searchResults p {
    color: white;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.searchResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
}

label {
    position: relative;
}

#search_form {
    border: none;
    background-color: #333;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 90%;
    color: white;
}

#search_form::placeholder {
    color: white;
}

#search_form:focus {
    outline: none;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.searchSideBar {
    position: fixed;
    top: 0;
    right: -25rem;
    height: 100vh;
    background-color: black;
    width: 25rem;
    z-index: 2;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    opacity: 0.9;
    border-left: 1px solid gray;
}

.searchTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
}

.closeSearchModal {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.borderLine {
    background-color: rgb(35,35,35);
    width: 100%;
    height: 0.1rem;
    margin-top: 1rem;
}

.modalBackGround {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #212121;
    /* position: static; */
    margin: 0 auto;
    width: 800px;
    height: 800px;
    z-index: 2;
    border-radius: 1rem;
}

.thumbnailContainer {
    position: relative;
    height: 500px;
}

.modalImg {
    width: 100%;
    height: 400px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.thumnailInfo {
    width: 80%;
    height: 300px;
}

.closeModalBtn {
    border: none;
    background-color: #333;
    opacity: 0.7;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#modalTitle {
    color: white;
    font-size: 2rem;
}

#modalOverview {
    color: white;
    font-size: 1rem;
}

.extInfoPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 60%;
}

.hidden {
    display: none;
}

.active {
    right: 0;
    transition: all 0.5s;
}

.deactive {
    right: -25rem;
    transition: all 0.5s;
}


@media screen and (max-width: 768px) {
    .searchSideBar {
        width: 20rem;
    }
    .searchResults p{
        font-size: 0.75rem;
    }
    .modal {
        width: 568px;
        height: 568px;
    }
}

@media screen and (max-width: 650px) {
    .searchSideBar {
        width: 12rem;
    }
    .searchResults {
        font-size: 0.5rem;
    }
    .searchResults p{
        font-size: 0.5rem;
    }
    #search_form {
        font-size: 0.5rem;
    }
    .modal {
        width: 400px;
        height: 800px;
    }
    .extInfoPart p {
        font-size: 0.75rem;
    }
}