#rewatchTxt {
    margin-bottom: 1rem;
}

#rewatchTxt h2 {
    color: white;
    margin-left: 1rem;
    margin-top: 2rem;
}

.rewatcytContents img {
    width: 220px;
    height: 125px;
    object-fit: cover;
    margin-left: 1rem;
}

.rewatcytContents {
    display: grid;
    grid-template-columns: repeat(10, minmax(auto, 1fr));
    gap: 1rem;
}

.rewatcytContents img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}